# system files
.DS_Store
Thumbs.db

# r
/renv
.Rhistory

# web dev
/node_modules

# quarto
/.quarto/

# output folder (you may want to exclude files when we publish!)
/out/*
!/out

# output files
slides/slides_files
slides.html
exercises/exercises_files
exercises.html
